<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="view-transition" content="same-origin">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:image" content="/assets/images/og-image.png">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">

  <title>{{ title }}</title>

  <link rel="preload" href="/assets/fonts/AireRomanPro.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/LinBiolinum_R.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Garamond.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/GaramondBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/GaramondItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/style.css" as="style">
  <link rel="stylesheet" href="/style.css">
  <script type="module" src="/assets/turbo.js"></script>
</head>

<body>

  <header class="header">
    <div class="branding">
      <a href="/">
        <img src="/assets/images/logo.png" alt="Rodin Thinker Chi-Rho Logo" class="logo" width="196" height="140">
      </a>

      <h1><a href="/">Biju Ale</a></h1>
    </div>

    <p class="verse">
      You shall know the truth,<br>
      &amp; the truth shall set you free.
      <span>—John 8:32</span>
    </p>
  </header>

  <nav>
    <a href="/" {% if page.url=="/" %}class="nav-active" {% endif %}>Essays</a>
    <a href="/pages/photo-memories" {% if page.url=="/pages/photo-memories/" %}class="nav-active" {% endif %}>Photo
      Memories</a>
    <a href="/pages/computing-tools" {% if page.url=="/pages/computing-tools/" %}class="nav-active" {% endif
      %}>Computing Tools</a>
    <a href="/pages/kindle-notes" {% if page.url=="/pages/kindle-notes/" %}class="nav-active" {% endif %}>Kindle
      Notes</a>
    {# <a href="/pages/notes-crud" {% if page.url=="/pages/notes-crud/" %}class="nav-active" {% endif %}>Notes
      CRUD</a> #}
    <a href="/pages/about" {% if page.url=="/pages/about/" %}class="nav-active" {% endif %}>About</a>
  </nav>

  <main>
    <h1>{{ title }}</h1>

    {% if date %}
    <div class="post-metadata">
      <span>{{ date | dateReadable }}</span>

      {% if tags %}
      {% for tag in tags %}
      {% if tag != "post" %}
      <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
    {% endif %}

    {{ content | safe }}
  </main>

</body>


<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .header h1 {
    font-size: clamp(2rem, 5vw, 3rem);
  }

  .branding {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .logo {
    width: clamp(50px, 10vw, 70px);
    height: auto;
  }

  nav a {
    border: 1px solid grey;
    padding: 2px;
  }

  nav a.nav-active {
    background-color: turquoise;
    border: 1px solid black;
  }

  .branding h1 {
    margin: 0;
    font-family: "AireRomanPro";
    font-weight: normal;
  }

  .branding a {
    color: rgb(85 84 68);
    text-decoration: none;
  }

  .verse {
    margin: 0;
    max-width: 400px;
    text-align: right;
    font: clamp(.9rem, 2vw, 1.15rem)/1.2 Garamond, serif;
    color: rgb(85 84 68);
    line-height: 80%;

  }

  .verse span {
    display: block;
    margin-top: .2rem;
    font-size: .9em;
    font-style: italic;
  }

  @media (max-width: 600px) {
    .header {
      align-items: center;
      margin: auto 0;
    }
  }

  main {
    margin-top: 1.2rem;
  }

  h1:has(+ .post-metadata) {
    margin-bottom: 0;
  }

  .post-metadata {
    margin-bottom: 1rem;
    text-align: center;
  }

  main p:first-of-type::first-letter {
    float: left;
    padding: 4px 8px 0 3px;
    font: 4.5rem/.8 "AireRomanPro", serif;
    color: rgb(85 84 68);
  }
</style>

</html>