<footer>&copy; Biju Ale 2014&ndash;{% year %}</footer>

<style>
  footer {
    font-family: "Mediga";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
    margin-top: 2rem;
    padding: 2px;
    background-color: #bdbda1;
  }
</style>
