<header>
    {% set currentUrl = page.url %}
    <nav>
        <div id="site_heading">
          <a href="/"><img width="35px" src="../assets/images/chi-ro.png" alt="">Biju Ale<span id="web">'s Web</span></a>
          <div  id="site_subheading">And you shall know the truth, & the truth shall set you free.</br> <span id="verse">&mdash;John 8:32</span></div>
        </div>
            <ul role="list">
            <li>
              <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
            </li>
            <li>
              <a {% if currentUrl === '#' %}aria-current="page"{% endif %} href="#">My Favorites</a>
              <ul class="submenu">
                <li>
                  <a {% if currentUrl === '/kindle-clippings/' %}aria-current="page"{% endif %} href="/kindle-clippings">Kindle Clippings</a>
                </li>
                <li>
                  <a {% if currentUrl === '/vocab/' %}aria-current="page"{% endif %} href="/vocab">Vocab</a>
                </li>
                <li>
                  <a {% if currentUrl === '/poems-lyrics/' %}aria-current="page"{% endif %} href="/poems-lyrics">Poems & Lyrics</a>
                </li>
                <li>
                  <a {% if currentUrl === '/bible-verses/' %}aria-current="page"{% endif %} href="/bible-verses">Bible Verses</a>                </li>
              </ul>
            </li>
            <li>
              <a {% if currentUrl === '/library/' %}aria-current="page"{% endif %} href="/library">Library</a>
            </li>
            <li>
              <a {% if currentUrl === '#' %}aria-current="page"{% endif %} href="#">Digital Alchemy</a>
              <ul class="submenu">
                <li>
                  <a {% if currentUrl === '/latex/' %}aria-current="page"{% endif %} href="/latex">LaTeX</a>
                </li>
                <li>
                  <a {% if currentUrl === '/git/' %}aria-current="page"{% endif %} href="/git">Git</a>
                </li>
                <li>
                  <a {% if currentUrl === '/pdf/' %}aria-current="page"{% endif %} href="/pdf">PDF</a>
                </li>
                <li>
                  <a {% if currentUrl === '/ydl/' %}aria-current="page"{% endif %} href="/ydl">Y-DL</a>
                </li>
                <li>
                  <a {% if currentUrl === '/flac/' %}aria-current="page"{% endif %} href="/flac">FLAC</a>
                </li>
                <li>
                  <a {% if currentUrl === '/windows/' %}aria-current="page"{% endif %} href="/windows">Windows</a>
                </li>
                <li>
                  <a {% if currentUrl === '/mac/' %}aria-current="page"{% endif %} href="/mac">Mac</a>
                </li>
                <li>
                  <a {% if currentUrl === '/melange/' %}aria-current="page"{% endif %} href="/melange">Melange</a>
                </li>
              </ul>
            </li>
            <li>
              <a {% if currentUrl === '/about/' %}aria-current="page"{% endif %} href="/about">About</a>
            </li>
          </ul>
    </nav>

    
</header>

<style>

  header {
  background-color: #bdbda1;
  z-index: 1;
  position: sticky;
  top: 0;
  font-family: "Cinzel";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 1px solid grey;
}

#site_heading {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

#site_subheading {
  display: inline;
  text-align: right;
  opacity: 75%;
  font-size: 0.95rem;
  white-space: nowrap;
  position: absolute;
  right:0;
  max-width:300px;
  text-wrap: wrap;
}
#web{
    font-family: "Garamond Italic";
    font-style: italic;
    opacity: 40%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  border: 1px solid grey;
  padding: 2px;
  margin: 0 2px;
  background: #57ae9f;
  width: 100%;
}
nav ul li:hover {
  background: #649ab5;
  transition: all 0.3s;
}

nav ul li a {
  text-decoration: none;
  color: #36193a;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submenu {
  display: none;
  position: absolute;
  padding: 0.5rem;
  z-index: 1;
}
header img{
    opacity: 60%;
    display: inline-block;
  }

#verse{
  font-style: italic;
  font-family: "Garamond Italic";
  opacity: 75%;

}
nav li:hover .submenu {
  display: block;
}

  header img{
    padding-left: 4px;
    padding-top: 4px;
  }

  @media (max-width: 768px) {
  header,
  nav {
    flex-direction: column;
    padding: 0;
    }

  #site_subheading{
    padding-right: .3rem;
    padding-top:.2rem;
    font-size: 40%;
    opacity: 90%;
    font-family: "Gaela";
    max-width:140px;
    text-wrap: wrap;
    
  }
}
</style>