<header>
    {% set currentUrl = page.url %}
    <nav>
        <div id="site_heading">
            <a href="/">Biju Ale</a>
        </div>

        <ul role="list">
            <li>
              <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
            </li>
        
            {% for link in collections.page %}
            <li>
              <a
                {% if currentUrl === link.url %}aria-current="page"{% endif %}
                href="{{ link.url }}">
                  {{ link.data.navTitle }}
              </a>
            </li>
            {%- endfor %}
            <li>
              <a {% if currentUrl === '/about' %}aria-current="page"{% endif %} href="/">About</a>
            </li>
          </ul>
    </nav>

    <div  id="site_subheading">And you shall know the truth, 
    <br>& the truth shall make you free.</br> &mdash;<span>John 8:32</span> 
    </div>
</header>