<header>
    <nav>
        <div id="site_heading">
            <a href="/">Biju Ale</a>
        </div>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pages/essays">Essays</a>
            </li>
            <li>
                <a href="/pages/gallery">Gallery</a>
            </li>
            <li>
                <a href="/pages/contact">Contact</a>
            </li>
            <li>
                <a href="/pages/about">About</a>
            </li>
        </ul>
    </nav>

    <div  id="site_subheading">And you shall know the truth, 
    <br>& the truth shall make you free.</br> &mdash;<span>John 8:32</span> 
    </div>
</header>