<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Biju Ale | {{ title | default('Biju Ale') }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/reset.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/katex@latest/dist/katex.min.css"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-D96TN2RR3W"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-D96TN2RR3W");
    </script>
  </head>
  <body>
    {% include 'header.njk' %}

    <main>
      {% block title %}
      <h1>{{ title }}</h1>
      {% endblock %} {% block content %}
      {{ content | safe }}
      {% endblock %}
    </main>

    {% include 'footer.njk' %}
  </body>
</html>
