{% extends 'layouts/base.njk' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{ title }}</h1>
</div>

<nav id="toc"><em>Outline</em></nav>

{{ content | safe }}

<script>
  const toc = document.getElementById("toc");
  const headings = document.querySelectorAll("h1,h2,h3,h4");
  let headingIndex = 0;

  // Create TOC items and link them to headings
  headings.forEach((heading) => {
    if (!heading.id) {
      heading.id = `heading-${headingIndex}`;
      headingIndex++;
    }
    const tocItem = document.createElement("li");
    const tocLink = document.createElement("a");
    tocLink.href = `#${heading.id}`;
    tocLink.textContent = heading.textContent;
    tocItem.appendChild(tocLink);

    // Determine the nesting level based on the heading tag
    const level = parseInt(heading.tagName[1]);

    // Add appropriate indentation classes
    tocItem.classList.add(`toc-level-${level}`);
    toc.appendChild(tocItem);
  });
</script>

<style>
  #toc {
    position: fixed;
    top: 10rem;
    right: 6rem; /* Adjust right margin for mobile */
    padding: 1rem;
    width: 200px; /* Set a maximum width */
    overflow-y: auto; /* Add scrollbar for long TOCs */
  }

  @media (max-width: 768px) {
    /* Adjust for smaller screens */
    #toc {
      display: none; /* Hide TOC on small screens */
    }
  }

  #toc.sticky {
    top: 20px;
  }

  #toc li {
    list-style: disc;
    max-width: 190px;
  }

  #toc li:first-of-type {
    display: none;
    font-style: italic;
  }

  #toc li:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  .toc-level-2 {
    margin-left: 20px !important;
  }

  .toc-level-3 {
    margin-left: 40px !important;
  }
</style>
{% endblock %}
