---
layout: layouts/base.njk
title: Photo Tags
---

Tags:<div class="tag-grid">
  {% for tag in photos.tags %}
    <a href="/photo-tag/{{ tag }}/">
      <img src="{{ photos.byTag[tag][0].secure_url }}" alt="{{ tag }}" style="border: 1px solid black; transition: border 0.1s;" onmouseover="this.style.border='1px solid yellow'" onmouseout="this.style.border='none'">
      <span style="background: #d0a9a9; border-radius: 12px; margin-top:2px; padding: 4px 10px; display: inline-block;">
        {{ tag | titleCase }}
      </span>
    </a>
  {% endfor %}
</div>