{% extends 'layouts/base.njk' %} {% block title%}

<a href="{{ '/' }}"><button>Back to Essays</button></a>

<div class="post_header">
  <h1>{{ title }}</h1>
  <span>{{ date | formatted }}</span>
</div>
{% endblock %}

{{ content | safe }}
