{% extends 'layouts/base.njk' %} {% block content %}

{{ content | safe }}

<div id="vocab-area">
  <select name="vocab-select" id="vocab-select" size="10">
    {% for w in vocab %}
    <option value="{{ w.word }}">{{ w.word }}</option>
    {% endfor %}
  </select>

  <div id="vocab-nav" style="text-align: center">
    <button id="prev-word">&lt; Prev</button>
    <button id="random-word">Random</button>
    <button id="next-word">Next &gt;</button>
    <div style="margin-top: 0.5rem">
      <input size="15" type="text" id="word-search" placeholder="Search word" />
      <button
        id="btn-asc"
        onclick="sortSelectOptions('vocab-select', 'ascending')"
      >
        &#x2191;AZ
      </button>
      <button
        id="btn-desc"
        onclick="sortSelectOptions('vocab-select', 'descending')"
      >
        &#x2193;ZA
      </button>
    </div>
  </div>

  <div id="vocab-card"></div>
</div>

<script id="vocab-data" type="application/json">
  {{ vocab | dump | safe }}
</script>

<script>
  const vocabData = JSON.parse(
    document.getElementById("vocab-data").textContent
  );
  const vocabSelect = document.getElementById("vocab-select");
  const vocabCard = document.getElementById("vocab-card");
  const prevButton = document.getElementById("prev-word");
  const nextButton = document.getElementById("next-word");
  const randomButton = document.getElementById("random-word");
  const searchInput = document.getElementById("word-search");

  function updateCard() {
    const selectedWord = vocabSelect.value;
    const wordData = vocabData.find((item) => item.word === selectedWord);

    if (wordData && !wordData.hasOwnProperty("error")) {
      const details = wordData.details[0];
      let html = `<h1 class="vocab-main-word">${details.word}</h1>`;
      if (
        details.phonetics &&
        details.phonetics[0] &&
        details.phonetics[0].text
      ) {
        html += `<p class="phonetic">${details.phonetics[0].text}</p>`;
      }

      details.meanings.forEach((meaning) => {
        html += `<p class="part-of-speech">${meaning.partOfSpeech}</p>`;
        meaning.definitions.forEach((def, index) => {
          html += `<p class="definition">${index + 1}. ${def.definition}</p>`;
          if (def.example) {
            html += `<p class="example">Example: ${def.example}</p>`;
          }
        });

        if (meaning.synonyms.length > 0) {
          html +=
            '<p class="synonyms">Synonyms: ' +
            meaning.synonyms.map((s) => `<span>${s}</span>`).join(" ") +
            "</p>";
        }
        if (meaning.antonyms.length > 0) {
          html +=
            '<p class="antonyms">Antonyms: ' +
            meaning.antonyms.map((a) => `<span>${a}</span>`).join(" ") +
            "</p>";
        }
      });

      vocabCard.innerHTML = html;
    } else {
      vocabCard.innerHTML = `<h1 class="vocab-main-word">${selectedWord}</h1>`;
    }
  }

  vocabSelect.addEventListener("change", updateCard);

  prevButton.addEventListener("click", () => {
    const currentIndex = vocabSelect.selectedIndex;
    if (currentIndex > 0) {
      vocabSelect.selectedIndex = currentIndex - 1;
      updateCard();
    }
  });

  nextButton.addEventListener("click", () => {
    const currentIndex = vocabSelect.selectedIndex;
    if (currentIndex < vocabSelect.options.length - 1) {
      vocabSelect.selectedIndex = currentIndex + 1;
      updateCard();
    }
  });

  randomButton.addEventListener("click", () => {
    const randomIndex = Math.floor(Math.random() * vocabSelect.options.length);
    vocabSelect.selectedIndex = randomIndex;
    updateCard();
  });

  searchInput.addEventListener("input", () => {
    let searchTerm = searchInput.value.toLowerCase();
    for (let i = 0; i < vocabSelect.options.length; i++) {
      const optionText = vocabSelect.options[i].text.toLowerCase();
      if (optionText.includes(searchTerm)) {
        vocabSelect.selectedIndex = i;
        break;
      }
    }
  });

  function randomizeSelectOptions(selectId) {
    const select = document.getElementById(selectId);
    const optionsArray = Array.from(select.options);
    const shuffledOptions = optionsArray.sort(() => Math.random() - 0.5);
    select.innerHTML = "";
    shuffledOptions.forEach((option) => {
      select.appendChild(option);
    });
  }

  function sortSelectOptions(selectId, order = "ascending") {
    const select = document.getElementById(selectId);
    const optionsArray = Array.from(select.options);
    optionsArray.sort((a, b) => {
      if (order === "ascending") {
        return a.text.toLowerCase().localeCompare(b.text.toLowerCase());
      } else if (order === "descending") {
        return b.text.toLowerCase().localeCompare(a.text.toLowerCase());
      }
    });
    select.innerHTML = "";
    optionsArray.forEach((option) => {
      select.appendChild(option);
    });
  }

  updateCard();
</script>
{% endblock %}
