@font-face {
  font-family: "Emirose";
  font-display: swap;
  src: url("./emirose.ttf") format("truetype");
}

@font-face {
  font-family: "Adobe Caslon Pro";
  font-display: swap;
  src: url("./ACaslonPro-Regular.otf") format("opentype");
}
