body {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  background-color: #bdbda1;
}

.post-list {
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}


main {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  color: #333;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

#list_essays li {
  margin-bottom: 0.2rem;
  list-style: none;
}

.date {
  float: right;
  opacity: 60%;
}
.date-post {
  float: right;
  opacity: 40%;
}

h1,
h2,
h3 {
  font-family: "Cinzel";
  margin: 0.2rem 0 0.5rem 0;
  font-weight: bold;
}
h2{
  text-indent: 1em;
}

h1:not(:first-of-type),
h2:not(:first-of-type),
h3:not(:first-of-type) {
  margin-top: 0.7rem;
}

details ul li {
  list-style: circle;
  list-style-position: outside;
  margin-left: 2rem;
  color: #333;
}

p {
  display: block;
  margin: 0 0 1rem 0;
  font-size: 16px;
  color: #333;
  line-height: 1.3;
  text-align: left;
  text-align: justify;
  white-space: pre-wrap;
}

.highlight-card p {
  margin-bottom: 0;
}
main .container ul li {
  color: #333;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
i {
  font-style: italic;
}

main a {
  color: #463eac;
}

main img {
  text-align: center;
  justify-content: center;
  display: flex;
}

.post h1 {
  display: inline-block;
  background: #649ab5;
  padding: 2px;
  color: #1e1212;
  border-radius: 10px;
  padding: 3px;
}

.post-header,
.kindle-book,
.page-header {
  padding: 5px;
  color: #dfaaaa;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  background: #a6a6b0;
  background: linear-gradient(
    270deg,
    #a6a6b036 0%,
    #021a1fce 41%,
    hwb(199 2% 84%) 63%,
    #061e29 100%,
    #0e253b 100%
  );
}
.post-header .tags ul li a:hover {
  color: black;
  transition: all 0.3s;
}
.kindle-book h2 {
  font-style: italic;
}
.highlight-card {
  border-radius: 8px;
}
table td {
  vertical-align: middle;
  color: #333;
}

table thead th {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  background-color: #009879;
  font-family: "Cinzel";
  font-weight: 500;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}
table thead th td {
  font-weight: bold;
}

table tbody td {
  padding: 5px;
}
table tbody tr {
  border-radius: 10px;
}
table:not(.exif-table) tbody tr:hover {
  background-color: #649ab5;
  cursor: pointer;
}

#controls {
  margin-bottom: 20px;
}
#controls > * {
  margin-right: 10px;
}
input[type="text"],
select {
  background: transparent;
  border: 1px solid;
  border-radius: 5px;
}
select::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}
select::-webkit-scrollbar-track {
  background: transparent;
}
select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

button,
input[type="button"] {
  background: transparent;
  outline: none;
  border: 1px solid #122b54;
  border-radius: 20px;
}
button,
input[type="button"]:hover {
  cursor: pointer;
}
button:hover {
  background-color: #009879;
  color: #c7e6d9df;
}
::placeholder {
  color: black;
  opacity: 50%;
}
.pagination {
  float: right;
  margin-bottom: 5px;
  font-size: small;
}

.post-pagination {
  max-width: fit-content;
  margin: 20px auto;
}

[aria-current="page"] {
  color: black;
  font-weight: bold;
}

pre code {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */

  border-radius: 10px;
  border: 1px solid #361e5a;
  color: #3a3333;
  page-break-inside: avoid;
  font-family: monospace;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
}

/* ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 10px;
  color: #333;
  margin:0;
} */
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 10px;
  color: #333;
}

li::marker {
  color: #8d8585;
}
.checkbox input[type="checkbox"] {
  background-image: -webkit-linear-gradient(
      hsla(0, 0%, 0%, 0.1),
      hsla(0, 0%, 100%, 0.1)
    ),
    -webkit-linear-gradient(left, #f66 50%, #6cf 50%);
  background-size: 100% 100%, 200% 100%;
  background-position: 0 0, 8px 0;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 2px hsla(0, 0%, 0%, 0.5), 0 0 0 1px hsla(0, 0%, 0%, 0.1),
    0 -1px 1px 1px hsla(0, 0%, 0%, 0.25), 0 1px 1px 1px hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  height: 10px;
  padding-right: 10px;
  width: 30px;
  appearance: none;
  transition: 0.25s;
}

.checkbox input[type="checkbox"]:after {
  background-color: #eee;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 0%, 0.1)
  );
  border-radius: 10px;
  box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
    inset 0 -1px 1px 1px hsla(0, 0%, 0%, 0.25),
    0 1px 1px 1px hsla(0, 0%, 0%, 0.5), 0 0 1px hsla(0, 0%, 0%, 0.25);
  content: "";
  display: block;
  height: 10px;
  width: 20px;
}

.checkbox input[type="checkbox"]:checked {
  background-position: 0 0, 15px 0;
  padding-left: 10px;
  padding-right: 0;
}

#toc a:hover {
  border: 1px solid #673082;
  border-radius: 10px;
  color: #333;
  font-size: 1rem;
  width: 100%;
}

.tags::after {
  content: "";
  display: table;
  clear: both;
}
.tags ul li {
  float: left;
  border: 1px solid grey;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
}
.tags ul li a {
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
}
.tags ul li:hover {
  background: #649ab5;
}
p + ul,
p + ol {
  margin-top: -1rem;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
}

.tag-grid a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.tag-grid img {
  width: 100%;
  border-radius: 8px;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.slide img {
  /* width: 100%; */
  border-radius: 10px;
}

.caption {
  float:right;
  padding: 0.5rem;
  border-radius: 5px;
}

.pagination a {
  margin-right: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}