body {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    background-color: #bdbda1;
}

header {
    position: fixed;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid grey;
    text-align: center;
    background-color: #bdbda1;
}

#site_heading {
    text-align: left;
    font-family: "Cinzel";
    font-size: 2rem;
    margin-bottom: .3rem;
}

#site_subheading {
    float: right;
    text-align: right;
    opacity: 66%;
    font-size: .95rem;
    font-family: "Cinzel";
    margin-top: 1rem;
}

#site_subheading span {
    font-family: "Garamond Italic";
}

nav {
    margin: 1rem 0 0.2rem 0;
    float: left;
    font-family: "Cinzel";
}

nav ul {
    transform: skew(-25deg);
}

nav li {
    text-align: left;
    border-left: 1px solid grey;
    border: 1px solid grey;
    display: inline-block;
    border-radius: 5%;
}

nav ul li:hover {
    background: burlywood;
}

nav ul li a {
    display: block;
    transform: skew(25deg);
    padding: 0.2rem;
    will-change: transform;
    text-rendering: optimizeLegibility;
}

nav ul li a:hover {
    color: purple;
}

footer {
    opacity: 65%;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
    margin-top: 1rem;
    background-color: #bdbda1;
}

main {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}



#list_essays li {
    margin-bottom: .2rem;
    list-style: none;

}

.date {
    opacity: 40%;
    float: right;
}

h1,
h2,
h3 {
    font-family: "Cinzel";
    margin: .2rem 0 .5rem 0;
    font-weight: bold;
}

h1:not(:first-of-type),
h2:not(:first-of-type),
h3:not(:first-of-type) {
    margin-top: .7rem;
}

details ul li {
    list-style: circle;
    list-style-position: outside;
    margin-left: 2rem;
    color: #333;

}

p {
    display: block;
    margin: 0 0 1rem 0;
    font-size: 16px;
    color: #333;
    line-height: 1.3;
    text-align: left;
    text-align: justify;

}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}

main a{
    color:#463eac
}

main img {
    text-align: center;
    justify-content: center;
    display: flex;

}

.post_header {
    padding: 5px;
    color: #dfaaaa;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    background: #a6a6b0;
    background: linear-gradient(270deg, #a6a6b036 0%, #021a1fce 41%, hwb(199 2% 84%) 63%, #061e29 100%, #0e253b 100%);
}