---
layout: layouts/base.njk
title: Essays
pagination:
  size: 35
  data: collections.post
  alias: posts
  reverse: true
---

<div class="post-list">
  <ul>
    {% for post in pagination.items %}
    {% if "Archive" not in post.data.tags %}
    <li>
      &#10032;<a href="{{ post.url }}"> {{ post.data.title }}</a>
      <span class="date-post">{{ post.date | formatted }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"
  >Previous page</a
>{% endif %} {% if pagination.href.next %}<a href="{{ pagination.href.next }}"
  >Next page</a
>{% endif %}

<div class="tags">
  Topics
  <ul>
    {% for tagInfo in collections.tags %}
    <li>
      <a href="/tags/{{ tagInfo.tag | url }}"
        >{{ tagInfo.tag }} ({{ tagInfo.count }})</a
      >
    </li>
    {% endfor %}
  </ul>
</div>

<style>
  .post-list {
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .date-post {
    float: right;
    opacity: 40%;
  }
  .post-list ul li {
    font-family: "Garamond R";
    color: #111;
  }

  .tags::after {
    content: "";
    display: table;
    clear: both;
  }
  .tags ul li {
    float: left;
    border: 1px solid grey;
    padding: 3px;
    margin: 4px;
    border-radius: 5px;
  }
  .tags ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
</style>
