---
layout: base.njk
pagination:
  size: 10
  data: collections.post
  alias: posts
  reverse: true
---

<div>
{%- for post in pagination.items %}
  <div  style="margin: .8rem; font-size: 1.5rem;">
    
    <span style="font-family: 'Linux Biolinium O'; font-size: 1.2rem; float:left; opacity: 50%; width:100px; text-align: right; margin-right: 1rem;" >{{ post.date | formatted }}</span>
    
    <a style="color: rgb(52, 53, 29); font-family: Garamond Regular" href="{{ post.url }}">{{ post.data.title }}
    </a>
  
  </div>
{%- endfor %}
</div>


<div style="margin: 0 auto; text-align: center; font-size: 2rem;">
{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"
  >&#8592;</a
>{% endif %} {% if pagination.href.next %}<a href="{{ pagination.href.next }}"
  >&#8594;</a
>{% endif %}
</div>

<div style="margin-bottom: 1rem;">
  <h2 style="margin: 0 0 .5rem; text-align: center; ">Category</h2>
  <div style="margin: 0 auto; justify-content: center; display: flex; flex-wrap: wrap; gap: 0.75rem; font-family: 'Linux Biolinium O'; font-size:1.2rem;">
  {%- for tag in collections | getAllTags | sort %}
    {%- if tag != "post" %}
    <a href="/tags/{{ tag | slugify }}/">
      {{ tag }} ({{ collections[tag].length }})
    </a>
    {%- endif %}
  {%- endfor %}
  </div>
</div>
